<p><small><b>Cite this article:</b></small></p>
<div lass="after-post-cats">
 <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-text">
                              {{ author.name }}, <a class="text-dark" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                              in "{{ site.name }}", {{ page.date | date_to_string: "ordinal", "US" }}, {{ page.url | absolute_url }}.
                            </h6>
               
                        </div>
                    </div>
     </div>
</div>
&nbsp;
