<!-- Add prefetch DNS for your files -->

<link rel=”preconnect dns-prefetch” href=”//fonts.googleapis.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//fonts.gstatic.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//use.fontawesome.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//stats.g.doubleclick.net/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//ajax.googleapis.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//googletagmanager.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//google-analytics.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//stackpath.bootstrapcdn.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//cdnjs.cloudflare.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//unpkg.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//smashwidgets.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//paypal.com/” crossorigin>
