<!-- Add prefetch DNS for your files -->

<link rel=”preconnect dns-prefetch” href=”//fonts.googleapis.com/” crossorigin>
<link rel=”preconnect dns-prefetch” href=”//ajax.googleapis.com/”crossorigin>
<link rel=”preconnect dns-prefetch” href=”//googletagmanager.com/”crossorigin>
<link rel=”preconnect dns-prefetch” href=”//stackpath.bootstrapcdn.com/”crossorigin>
<link rel=”preconnect dns-prefetch” href=”//stackpath.bootstrapcdn.com/”crossorigin>
<link rel=”preconnect dns-prefetch” href=”//cdnjs.cloudflare.com/”crossorigin>
<link rel=”preconnect dns-prefetch” href=”//unpkg.com/”crossorigin>
<link rel=”preconnect dns-prefetch” href=”//smashwidgets.com/”crossorigin>
