{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:3 %}

<section class="recent-posts">
  <div class="clearfix"></div>
    <div class="container">
       <div class="row justify-content-center" >
        <div class="col-md-8" >
            <div class="section-title">
                <h2><span>You might find these articles interesting</span></h2>
            </div>
            <div class="clearfix"></div>
            <div class="row listrecent">
                {% for post in posts %}
                <div class="col-lg-4 col-md-6 mb-30px card-group">
                    <div class="card h-100">
                        <div class="maxthumb">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                {% if post.image %}
                
                                    {% if site.lazyimages == "enabled" %}
                                        <img class="img-fluid lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                                    {% else %}
                                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> 
                                    {% endif %}
                
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                                {% if post.rating %}
                                <div class="mb-2 mt-2 font-weight-normal">
                                    {% include star_rating_postbox.html %}
                                </div>
                                {% endif %}
                            </h6>
                            <p class="card-text, overflow: hidden;"><small class="text-muted">{{ post.excerpt | strip_html | truncatewords:15 }}</small></p>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="wrapfooter">
                                {% if post.author %}
                                <span class="meta-footer-thumb">
                                {% if author.avatar %}
                                <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                                {% else %}
                                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                                {% endif %}
                                </span>
                                <span class="author-meta">
                                <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                                {% endif %}
                                <span class="post-date">{{ post.date | date_to_string: "ordinal", "US" }}</span>
                                </span>
                                 <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
              
             <!-- Prev/Next -->
             <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
                {% if page.previous.url %}
                <a class="prev d-block col-md-6" href="{{ site.baseurl }}{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
                {% endif %}
                {% if page.next.url %}
                <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
                {% endif %}
                <div class="clearfix"></div>
        </div>

        </div>
    </div>
  </div>
</section>


